## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s= "Hi there Sam!"

In [ ]:
s.split(' ')

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
string= "The diameter of {0} is {1} kilometers"

In [ ]:
string.format(planet, diameter)

'The diameter of Earth is 12742 kilometers'

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:

d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)
list1[0]=0
# tuple1[0]=0 #It will throw an error as 'tuple' object does not support item assignment

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
email="user@domain.com"

In [ ]:
meta=email.split("@")
meta[1]

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
Mystring1="My dog is cute"
Mystring2="Dog coin is lit"

In [ ]:
def check(string, substr):
  if substr in string:
    print("True")
  else:
    print("False")

In [ ]:
check(Mystring1, "dog")
check(Mystring2, "dog")

True
False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
Mystring1.count('dog')

1

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(85,0)

'Big Ticket'

In [ ]:
caught_speeding(80,1)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
l=[5000,4000,6000,2000,7000]
sum=0
for i in l:
    sum=sum+i
print(sum)

24000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
emp_dict={"Empid":"0001","Empname":"Aju","Basicpay":"60000"}
dept_dict={"DeptName":"Logistics","DeptId":"5000"}
def Merge(dict1, dict2):
    return(dict2.update(dict1))
Merge(emp_dict, dept_dict)
print(dept_dict)

{'DeptName': 'Logistics', 'DeptId': '5000', 'Empid': '0001', 'Empname': 'Aju', 'Basicpay': '60000'}